[submodule "snowblocks/vim/vim/pack/minpac/opt/minpac"]
	path = snowblocks/vim/vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule ".snowsaw"]
	path = .snowsaw
	url = https://github.com/arcticicestudio/snowsaw.git
