[submodule "snowblocks/vim/vim/pack/minpac/start/coc.nvim"]
	path = snowblocks/vim/vim/pack/minpac/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "snowblocks/vim/vim/pack/minpac/start/defx.nvim"]
	path = snowblocks/vim/vim/pack/minpac/start/defx.nvim
	url = https://github.com/Shougo/defx.nvim.git
[submodule "snowblocks/vim/vim/pack/minpac/start/fzf.vim"]
	path = snowblocks/vim/vim/pack/minpac/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "snowblocks/vim/vim/pack/minpac/start/git-messenger.vim"]
	path = snowblocks/vim/vim/pack/minpac/start/git-messenger.vim
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "snowblocks/vim/vim/pack/minpac/start/nerdcommenter"]
	path = snowblocks/vim/vim/pack/minpac/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "snowblocks/vim/vim/pack/minpac/start/nord-vim"]
	path = snowblocks/vim/vim/pack/minpac/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-airline"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-devicons"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-elixir"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-fugitive"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-mix-format"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-mix-format
	url = https://github.com/mhinz/vim-mix-format.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-reason-plus"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-reason-plus
	url = https://github.com/reasonml-editor/vim-reason-plus.git
[submodule "snowblocks/vim/vim/pack/minpac/opt/minpac"]
	path = snowblocks/vim/vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule ".snowsaw"]
	path = .snowsaw
	url = https://github.com/arcticicestudio/snowsaw.git
[submodule "snowblocks/vim/vim/pack/minpac/start/lightline.vim"]
	path = snowblocks/vim/vim/pack/minpac/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-signify"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-tmux-navigator"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "snowblocks/vim/vim/pack/minpac/start/vim-toml"]
	path = snowblocks/vim/vim/pack/minpac/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-diagnostic"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-diagnostic
	url = https://github.com/iamcco/coc-diagnostic.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-elixir"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-elixir
	url = https://github.com/amiralies/coc-elixir.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-eslint"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-eslint
	url = https://github.com/neoclide/coc-eslint.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-go"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-go
	url = https://github.com/josa42/coc-go.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-jest"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-jest
	url = https://github.com/neoclide/coc-jest.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-json"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-json
	url = https://github.com/neoclide/coc-json.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-prettier"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-prettier
	url = https://github.com/neoclide/coc-prettier.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-rls"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-rls
	url = https://github.com/neoclide/coc-rls.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-tslint-plugin"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-tslint-plugin
	url = https://github.com/neoclide/coc-tslint-plugin.git
[submodule "snowblocks/vim/vim/pack/minpac/start/coc-tsserver"]
	path = snowblocks/vim/vim/pack/minpac/start/coc-tsserver
	url = https://github.com/neoclide/coc-tsserver.git
