# Export a templated home directory
export HOME={{ .chezmoi.homedir }}

# Load Homebrew shell completions; this is done here instead of in environment.zsh because it needs to be done before zinit is bootstrapped
if (( $+commands[brew] )); then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
fi

# Zinit bootstrapping
source "$HOME/.zinit/bin/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Load configs
for config (~/.zsh/*.zsh) source $config

# Load plugins
zplugin ice pick"async.zsh"

# Set prompt
prompt morg

# Init gpg-agent
gpgconf --launch gpg-agent
gpg-connect-agent updatestartuptty /bye 2>&1 >/dev/null

# Launch tmux
if (( $+commands[tmux] )) && [ -n "$PS1" ] && [[ ! "$TERM" =~ screen ]] && [[ ! "$TERM" =~ tmux ]] && [ -z "$TMUX" ]; then
  exec tmux new -A -s main
fi
